<th>
  <h3>
    {{chore.name}}
    <small>(${{chore.rate}})</small>
  </h3>
</th>

{{#each choreDays as |choreDay|}}
  <td class="chore">
    {{#if choreDay.complete}}
      <button {{action "uncomplete" "2015-04-25"}}>
        <i class="fa fa-check"></i>
      </button>
    {{else}}
      <button {{action "complete" "2015-04-26"}}/>
    {{/if}}
  </td>
{{/each}}
