<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <div class='navbar-brand'><a href="/">Austin&#39;s Chores</a></div>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <li>
        <a {{action "previousWeek"}}>
          <i class="fa fa-backward"></i>
          Previous week
        </a>
      </li>
      <li>
        <a {{action "nextWeek"}}>
          Next Week
          <i class="fa fa-forward"></i>
        </a>
      </li>
      <p class='navbar-text'>
        <a href="/?class=navbar-link">Login</a>
      </p>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="pull-left">
    <h1>Chores for the week of {{formattedToday}}</h1>
  </div>

  <div class="pull-right">
    <h1>Total Income: ${{totalIncome}}</h1>
  </div>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Chore</th>
        <th>Saturday</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.chores as |chore|}}
        {{chore-week chore=chore weekStarting=today}}
      {{/each}}
    </tbody>
  </table>

  <div class="pull-left">
    {{new-chore store=controller.store}}
  </div>

  <div class="pull-right">
    <form>
      <input type="hidden" name="week" id="week" {{bind-attr value=thisWeek}}>
      <input type="hidden" name="year" id="year" {{bind-attr value=thisYear}}>
      <input type="hidden" name="amount" id="amount" {{bind-attr value=totalIncome}}>
      <input type="submit" {{action "pay"}} name="commit" value="Pay Me!" class="btn btn-success">
    </form>
  </div>
</div>
